* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .app {
    width: 400px;
    padding: 20px;
    /*background-color: white;*/
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2rem;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
  }
  
  .controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
  }
  
  #taskInput {
    flex: 1;
    padding: 8px;
    font-size: 1rem;
  }
  
  button {
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  #taskList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .addtaskicon {
    max-width: 2rem;
  }
  .adorno
  {
    
    background-image: url("./img/blocknotasa.png");
    background-size: cover;
    width: 100%;
    height:50px;
    z-index: 20;
    
  }
  .cuerponota{

    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./img/blocknotas.png") repeat-y;
    top: -28px;
     position: relative;
  }